<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 
    <title>{% block title %}Ragots{% endblock %}</title>
 
    {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css') }}" type="text/css" />
    {% endblock %}
  </head>
 
  <body>
      <div class="container">
	      <div id="header" class="hero-unit">
		<h1> Les Ragots </h1>
	      	<p> Les ragots de l'Ensiie. </p>
	      </div>
	      
	      <div id="ajout-ragot" class="raw">
		      {% block ajout_ragot_body %}
		      {% endblock %}
              </div>
	      
	      <div id="content" class="nav nav-pills nav-stacked">
		      <hr>
		      {% block phil_ragot_body %}
	              {% endblock %}
 	      </div>
 
 
      <footer>
        <p>Les ragots de l'ENSIIE</p>
	</footer>

     </div>
  {% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap.js') }}"></script>
  {% endblock %}
 
  </body>
</html>
