{% extends "::layout.html.twig" %}

{% block body %}
    <div >       
            {% include 'EnsiieIaatoBundle:Iaato:view_planning.html.twig' with {'plannings': plannings} %}
 
    </div>
{% endblock %}
